#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# scons flags
SCONS_FLAGS=INPUT_PLUGINS=raster,sqlite,postgis,ogr,shape,osm,gdal,csv \
CAIRO=True \
SYSTEM_FONTS=/usr/share/fonts/truetype \
DESTDIR=$(CURDIR)/debian/tmp PREFIX=/usr

CFLAGS = -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	export CFLAGS += -O0
else
	export CFLAGS += -O3
endif

override_dh_auto_test:
	

override_dh_auto_configure:
	scons $(SCONS_FLAGS) CUSTOM_CXXFLAGS="$(CFLAGS)" configure
	dh_auto_configure

# Do no build for every possible python version until this is working properly
# https://github.com/mapnik/mapnik-packaging/issues/3
#override_dh_auto_build:
#	set -e; \
#	for PYVER in $(shell pyversions -r); do \
#		scons \
#		BOOST_PYTHON_LIB=`echo $$PYVER | sed 's/python\([0-9]\).\([0-9]\)/boost_python-py\1\2/'` \
#		PYTHON=`which $$PYVER`; \
#	done
#
#	dh_auto_build

override_dh_prep:
	dh_prep -Xdebian/tmp

override_dh_install:
	scons install
	dh_install

override_dh_auto_clean:
	-scons --clean
	find -name '*.pyc' -exec rm -f {} \;
	find -name '.sconsign*' -exec rm -f {} \;
	find -name '*.o' -exec rm -f {} \;
	rm -rf .sconf_temp config.log bindings/python/mapnik/paths.py \
		utils/shapeindex/shapeindex config.py config.cache \
		docs/api_docs/python/*

#	dh_auto_clean

override_dh_installexamples:
	dh_installexamples -Xdata/new
	find $(CURDIR)/debian/ -name "*.png" | xargs -r chmod -x

%:
#	dh_installexamples -Xdata/new
#	dh_install --sourcedir=debian/tmp
	dh $@
