Source: mapnik
Priority: optional
Maintainer: Mapnik Developers <mapnik@googlegroups.com>
Uploaders: Dane Springmeyer <dane@mapbox.com>
Build-Depends:
 python-support (>= 0.8.4),
 debhelper (>= 7.0.50~),
 libboost-thread-dev (>= 1.42),
 libboost-filesystem-dev (>= 1.42),
 libboost-regex-dev (>= 1.42),
 libboost-system-dev (>= 1.42),
 libpng-dev,
 zlib1g-dev,
 libfreetype6-dev,
 libltdl7-dev,
 libxml2-dev,
 libicu-dev (>= 4.2)
Standards-Version: 3.8.4
Section: libs
XS-Python-Version: >= 2.5
Homepage: http://www.mapnik.org/

Package: libmapnik
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description: Minimal Mapnik core library

Package: libmapnik-dev
Section: libdevel
Architecture: any
Depends:
 ${misc:Depends},
 libmapnik (= ${binary:Version}),
 mapnik-utils (= ${binary:Version}),
 libc6-dev | libc-dev,
 libboost-thread-dev (>= 1.42),
 libboost-filesystem-dev (>= 1.42),
 libboost-regex-dev (>= 1.42),
 libboost-python-dev (>= 1.42),
 libboost-system-dev (>= 1.42),
 libpng-dev,
 zlib1g-dev,
 libfreetype6-dev,
 libltdl7-dev,
 libxml2-dev,
 libicu-dev (>= 4.2)
Description: Minimal Mapnik development headers

Package: mapnik-utils
Section: utils
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 libmapnik (= ${binary:Version})
Conflicts: mapnik-utils
Replaces: mapnik-utils
Description: Minimal Mapnik utilities